@{
    ViewData["Title"] = "Create Edit Page";
}
@model PriceTrackerWithMySQL.Models.PriceModel

<link rel="stylesheet" href="~/css/buttons.css" />
<link rel="stylesheet" href="~/css/form.css" />
<div class="text-center">
    <h1 class="display-4">Create Edit</h1>
</div>
<div class="form-container">
    <form asp-controller="Price" asp-action="CreateEditPriceForm">
        <input hidden class="form-control txt-box" placeholder="0" type="number" asp-for="id" />
        <div class="name-price">
        <div class="name">
        <label class="label">Product Name</label>
        <input class="form-control txt-box" placeholder="Name" type="text" asp-for="name" />
        </div>
        <div class="price">
        <label class="label">Price</label>
        <input class="form-control txt-box" placeholder="&#8369; 0.00" type="number" asp-for="price" />
        </div>
        </div>
        <div class="description">
        <label class="label">Description</label>
        <input class="form-control txt-box" placeholder="Description" type="text" asp-for="description" />
        </div>
        <div class="buttons">
        <button class="submit-btn" type="submit">Submit</button>
        <a class="cancel-btn" asp-action="IndexPrice" asp-controller="Price">Cancel</a>
        </div>
    </form>
</div>
