@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/buttons.css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn view-btn" asp-action="IndexPrice" asp-controller="Price">View List</a>
    <a class="btn create-btn" asp-action="CreateEditPrice" asp-controller="Price">Create/Edit Price</a>
</div>
