@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="view-btn" asp-action="IndexPrice" asp-controller="Price">View List</a>
    <a class="view-btn" asp-action="CreateEditPrice" asp-controller="Price">Create/Edit Price</a>
</div>
