@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Web Application exhibits simple Expense Tracking Table using MVC Framework and MySQL CRUD Principles.</p>
<p>You can use the code hehe :)</p>
